.container {
  transform: translate(20%, 20%);
}
.new-container {
  transform: rotate(7.5deg);
}
div {
  transform: translate(20%, 20%), rotate(7.5deg);
  background: linear-gradient(red, yellow), url;
}
