// $primary-color : #2cc459;
$primary-color : blue;
$accent-color : #f1f2f3;
$secondary-color : orange;
$font-stack : Arial, sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}