@import 'config';

body {
    background-color: $primary-color;
    font-family: $font-stack;
}

.showcase{
    margin: 20px auto;
    padding: 20px auto;
    height: 500px;
    nav{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a:hover{
            color: $secondary-color;
        }
    }
    li{
        padding : 15px;
    }
    a{
        text-decoration: none;
        color : $accent-color;
    }
    #{&}-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
